




      <!--<tr><td><%=copy.price%></td><td><%=copy.condition%></td><td><%=copy.seller%></td><td>-->


<li>
    <%=copy.price%> <%=copy.condition%><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(copy.created_at) %> ago.
 </span>
</li>