<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>

    </section>
  </aside>
</div>

<div>
  <%= render 'shared/recommendations' %>
</div>


<div>
  <% if Order.where("user_id = ?", current_user.id).count > 0 %>
    <h1>Books you have ordered:</h1>
      <% Order.where("user_id = ?", current_user.id).each do |record| %>
        <% c = Copy.find(record.copy_id) %>
        <% b = Book.find(c.book_id) %>
        <p><i><%= b.title %></i> by <%= b.author %>   contact:<%= c.seller %> </p>

      <% end %>
  <% end %>
</div>

<div>
  <% if Copy.where("user_id = ?", current_user.id).count > 0 %>
    <h1>Books you are selling:</h1>
    <table>
      <th>Title</th><th>Author</th><th>ISBN</th><th>Price</th>
    <% Copy.where("user_id = ?", current_user.id).each do |c| %>
      <% b = Book.find(c.book_id) %>
      <tr><td><i><%= b.title %></i></td>
          <td><%= b.author %></td>
          <td><%= b.isbn %></td>
          <td>$<%= c.price %></td></tr>
    <% end %>
  <% end %>
</div>
