<p>Post your own comment:</p>
<%= form_for(@rating) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
    <%= f.select :value, 1..5 %>
  
    <%= f.text_area :comment, placeholder: "Comments..." %>
    <%= f.hidden_field :professor_id, value: @professor.id %>
  
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
