<h1>Rate Professor</h1>

<%= form_tag professors_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<% if @professors.blank?%>
    Could not find professor:  <%=params[:query].to_s%>


    <%= link_to "Add this professor", '#', class: "btn btn-large btn-primary" %>
    <% else %>
<table>
<th>First Name</th><th>Last Name</th><th>Department</th>
<% @professors.each do |p| %>
  <tr><td><%=p.firstname%></td><td><%=p.lastname%></td><td><%=p.department%></td>
      <td><%= link_to "View", p, class: "btn" %></td></tr>


<% end %>

</table>


<%end%>





