<h1>Rate Professor</h1>

<%= form_tag professors_path, method: :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>






<table>
<th>First Name</th><th>Last Name</th><th>Department</th>
<% @professors.each do |p| %>
  <tr><td><%=p.firstname%></td><td><%=p.lastname%></td><td><%=p.department%></td>
      <td><%= link_to "View", p, class: "btn" %></td></tr>


<% end %>

</table>








