
<h1>Professor <%= @professor.firstname %> <%= @professor.lastname %> </h1>

<h3>Ratings</h3>

<% @professor.ratings.each do |rating| %>
  <% unless rating.value.nil? %>
    <p>Rating: <%= rating.value %></p>
    <p>Comment: <%= rating.comment %></p>
    <hr>
  <% end %>
<% end %>

<%= render 'shared/ratings_form' %>
