
<h1>Professor <%= @professor.firstname %> <%= @professor.lastname %> </h1>



<h3>Rated: 
  <% if Rating.where("professor_id = ?", @professor.id).count > 0 %>
    (<%= Rating.where("professor_id = ?", @professor.id).average(:value).to_f %>/5) </h3>
  <% else %>
    Not yet rated</h3>
  <% end %>

<h3>Ratings</h3>

<% @professor.ratings.each do |rating| %>
  <% unless rating.value.nil? %>
    <p>Rating:

<% for i in 1..5 %>
  <% if rating.value >= i %>
    <img src="/assets/star-on-big.png">
  <% else %>
    <img src="/assets/star-off-big.png">
  <% end %>
<% end %>

</p>
    <p>Comment: <%= rating.comment %></p>
    <hr>
  <% end %>
<% end %>



<%= render 'shared/ratings_form' %>



<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery.rating.js?body=1"></script>
<script data-turbolinks-track="true" src="/assets/jquery-star-rating.js?body=1"></script>
