<h1>Post/Search for a book</h1>

<%= form_tag books_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search],  placeholder: "Search for a book to buy or post..." %>
      <%= submit_tag "Search", name: nil %>
    </p>
<% end %>

<% if @books.empty?%>
<h4>Could not find: "<%= params[:search]%>" in our database</h4>
<h5>Be the first to add this book</h5>
  <%= link_to "Add new book!", books_new_path, class: "btn btn-large btn-primary" %>
<% else %>



<table >
  <tr><th>Title</th><th>Edition</th><th>Author</th><th>ISBN</th><th>Available Copies</th></tr>
  <% @books.each do |b| %>
      <tr><td><%=b.title%></td><td><%=b.edition%></td><td><%=b.author%></td><td><%=b.isbn%></td><td><%= Copy.where("book_id = ? AND sold = ?", b.id, false).count %></td>
      <td><%= link_to "View", b, class: "btn" %></td></tr>

<%end%>
  <% end %>

</table>


