<h1>Post/Search for a book</h1>

<%= form_tag books_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search],  placeholder: "Search for a book to buy or post..." %>
      <%= submit_tag "Search", name: nil %>
    </p>
<% end %>

<table border="1">
 <tr>
   <th>Title</th>
   <th>Author</th>
   <th>ISBN</th>
   <th>Publisher</th>
   <th>Date Published</th>
   <th>Number of Pages</th>
 </tr>
 <tr> 
   <td><%= @title %></td>
   <td><%= @author %></td>
   <td><%= @isbn  %></td>
   <td><%= @publisher %></td>
   <td><%= @date %></td>
   <td><%= @pages %></td>
 </tr>
</table>

