<h1>Post/Search for a book</h1>

<%= form_tag books_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search],  placeholder: "Search for a book to buy or post..." %>
      <%= submit_tag "Search", name: nil %>
    </p>
<% end %>






<table >
  <tr><th>Title</th><th>Edition</th><th>Author</th><th>ISBN</th><th>Available Copies</th></tr>
  <% @books.each do |b| %>
      <tr><td><%=b.title%></td><td><%=b.edition%></td><td><%=b.author%></td><td><%=b.isbn%></td><td><%= Copy.where("book_id = ? AND sold = ?", b.id, false).count %></td>
      <td><%= link_to "View", b, class: "btn" %></td></tr>


  <% end %>

</table>


