<p> Title: <%=  @book.title%><br> Edition: <%=@book.edition%><br>Author:<%= @book.author%><br>ISBN:<%= @book.isbn %></h1></p>
<%= render 'shared/copies_form' %>


  <% if @book.copies.any? %>
      <h3>(<%= @book.copies.count %>)Offers</h3>
      <p>Prices: $<%= @copies.minimum(:price).to_f %> - $<%= @copies.maximum(:price).to_f %></p>
      <p>Average Price: $<%= @copies.average(:price).to_f %></p>
    <table>
      <th>Price</th><th>Condition</th><th>Seller</th><th></th>
      <% @copies.all.sort_by { |c| c.price }.each do |c| %>
        <% unless c.sold %>
          <tr><td>$<%=c.price%></td><td><%=c.condition%></td><td><%= mail_to c.seller%></td>
          <td><% if signed_in? %>

          <% end %></td>

          <td><span class="timestamp">Posted <%= time_ago_in_words(c.created_at) %> ago.</span></td>
          </tr>
        <% end %>
      <% end %>

    </table>

  <% end %>
<%= will_paginate @copies %>

